body {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/* Header */

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  align-items: center;
  background-color: black;
  top: 0;
  border-bottom: 1px solid seashell;
  z-index: 5;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

/* Navigation */

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

/* Main content container */

.main-container {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
  opacity: 0.9;
}


/* Mission */

.mission {
  background-image: url('../images/img-mission-background.jpg');
  width: 1200px;
  height: 700px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.mission-float {
  background-color: black;
  opacity: 0.9;
  width: 100%;
}

/* Featured Teas Section */

.featured-teas {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}

.tea-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 10px;
}

.tea img {
  width: 300px;
  height: 200px;
}

.tea h4 {
  margin-top: 10px;
}

/* Locations Section */

.locations {
  background-image: url('../images/img-locations-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  margin: auto;
}

.locations h2 {
  margin: 0px;
}

.location-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loc {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 20px;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
}

.contact {
  height: 200px;
  display: block;
}

.copyright {
  text-align: left;
  margin-left: 20px;
  display: block;
  width: 100%;
  align-items: flex-end;
}
